@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #845ef7;
}
